header {
  background-color: rgb(54, 143, 143);
  height: 80px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  margin-top: 20px;
}
.menu li a:hover {
  color: #4e4c4c;
}

@media all and (max-width: 600px) {
  .menu li a {
    font-size: 1rem;
  }
}
