<h2>Om sidan</h2>
<div class="about-container">
  <p>
    Till detta projekt, och alltså till denna sida, har jag använt ramverket
    Angular. Jag har skapat fem stycken komponenter. Dessa är:
  </p>
  <ul class="about-list">
    <li>Home</li>
    <li>Converter</li>
    <li>About</li>
    <li>Header</li>
    <li>Footer</li>
  </ul>
  <p>
    Alla dessa komponenter innehåller varsin HTML, CSS och TypeScript-fil. All
    kod jag skriver in i dessa appliceras enbart till den specifika komponenten.
    <br />
    Jag har även skrivit kod i rot-filerna, som appliceras på hela projektet.
  </p>
  <p>
    I filen "app.routes.ts" importerar jag komponenterna för respektive
    undersida. Detta för att möjliggöra navigeringen mellan dessa sidor. I
    "app.components.ts" importerar jag komponenterna för headern och footern.
    Bilden på startsidan har jag lagt in i mappen "assets".
  </p>
  <p>
    Alla komponenter har en komponent-selector som jag länkar in på lämplig
    plats. HTML-filen i rot-katalogen innehåller "app-header" och "app-footer".
    Alla undersidor ligger dock under "router-outlet".
  </p>
  <br />
  <p>
    Arbetet med Angular har varit väldigt kul. Jag ser verkligen varför detta är
    så populärt och användbart. Jag tycker om hur projektet struktureras och hur
    lätt det är att få HTML och TS att samarbeta. Ser fram emot att jobba mer
    med olika ramverk! Senaste tiden har dock ockuperats av annat i livet och
    arbetet med detta har fått lida lite. Hoppas därför att ni har överseende
    med form och figur :)
  </p>
</div>
